<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalprokhaled"
        tools:targetApi="31">

        <!-- LoginActivity is now the launcher activity -->
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (if needed) -->
        <!-- <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->

        <activity
            android:name=".ChatActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ITDepartment"
            android:label="IT Department" />

        <activity
            android:name=".Home"
             />

        <activity
            android:name=".BillingDetailsActivity"
            />
        <activity
            android:name=".BankDetails"
            />
        <activity
            android:name=".BillingDetails"
            />
        <activity
            android:name=".Customer"
            />
        <activity
            android:name=".Menu">
            <!-- ... -->
        </activity>

        <activity
            android:name=".SecondActivity"
            />
        <activity
            android:name=".Adpterdate"
            />
        <activity
            android:name=".ListDate"
            />
        <activity
            android:name=".DateView"
            />
        <activity
            android:name=".BillingDetailsAdapter"
            />
        <activity
            android:name=".BillingDetailsModel"
            />
        <activity
            android:name=".CombinedDetailsModel"
            />
        <activity
            android:name=".DisplayInvoiceActivity"
            />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.finalprokhaled.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".SecondYearActivity"
            />
        <activity
            android:name=".DateYearView"
            />
        <activity
            android:name=".BillingDetailsAdapteryear"
            />

        <activity
            android:name=".DateRangeActivity"
            />

        <activity
            android:name=".Dateofname"
            />

    </application>

</manifest>